.my-send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px !important;
  min-width: 100%;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
}

.my-send-btn span {
  left: 30px;
}

.my-send-card {
  padding: 0px;
  height: 100px;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.form-input label {
  font-size: 16px;
}

.my-a {
  display: contents;
}

.card-author-name {
  background-color: rgba(255, 255, 255, 0);
  color: #121212;
}

.nav-wrapper {
  padding: 1rem 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-wrapper + .card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.mb-sm-3,
.my-sm-3 {
  margin-bottom: 1rem !important;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

dl,
ol,
ul {
  margin-top: 0;
}

.nav-link {
  padding: 0.7rem 1rem;
}

.my-nav-card {
  border: 0px;
}

.light-rounded-five {
  font-weight: 700;
}

.nav-pills .nav-item:not(:last-child) {
  padding-right: 1rem;
}

.nav-pills .nav-link {
  padding: 0.75rem 1rem;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  transition: all 0.15s ease;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0067f4;
}

.dropdown-menu .dropdown-item {
  padding: 0.75rem;
  font-size: 0.875rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0067f4;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #525f7f;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
  box-shadow: 0 50px 100px rgb(50 50 93 / 10%), 0 15px 35px rgb(50 50 93 / 15%),
    0 5px 15px rgb(0 0 0 / 10%);
}

@media (max-width: 767.98px) {
  .flex-md-row {
    flex-direction: row !important;
  }
}

@media (max-width: 354.9px) {
  .nav-pills:not(.nav-pills-circle) .nav-item {
    padding-right: 0;
    margin-bottom: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 980px) {
  #download-btn {
    display: none;
  }
}
